$layout-color: #001;

header{
    background-color: $layout-color;
    padding: 3px;
    color: white;
    width: 100%;
    font-size: 12px;
}

.title{
    margin-right: 50px;
}

.navbar-inner > *{
    display: inline;
}
